target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.m2/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/Notification-Service/src/test/
/Assign-Engine/src/test/
/Authentication/src/test/
/Messaging-Common/src/test/
/Search-Service/src/test/
/Security-Common/src/test/
/Sla-Monitor/src/test/
/Ticket-Event-Contract/src/test/
/Ticket-Service/TicketAPI/src/test/
/Ticket-Service/TicketModel/src/test/
/Ticket-Service/TicketService/src/test/
/User-Service/UserAPI/src/test/
/User-Service/UserModel/src/test/
/User-Service/UserService/src/test/
